/.vscode
BEAVS5_Main/compile_commands.json
BEAVS5_Main/*.o
BEAVS5_Main/*.d
BEAVS5_Main/.cache
BEAVS5_Main/sim.so
BEAVS5_Main/.buildflags.txt
BEAVS5_Main/.deps
BEAVS5_Main/board.cpp
BEAVS5_Main/board.h

