name: Run Tests via Pytest

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

          pip install pybind11 ruff pytest
          sudo apt-get install libboost-coroutine-dev
      - name: Lint with clang-tidy
        uses: cpp-linter/cpp-linter-action@v6
        with:
          version: "20"
          style: "Google"
          tidy: true
          extensions: "cpp,h"
      - name: Lint with ruff
        run: |
          pip install ruff
          ruff check
        continue-on-error: true
      - name: Build
        run: |
          cd BEAVS5_Main
          make
      - name: Test with pytest
        run: |
          pytest -v -s
